<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Partial Component</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>

    const counter = {
        data() {
            return {
                count: 0
            }
        },
        template: `
            <div>
                {{count}}
                <button @click=count++>
                    Add    
                </button>    
            </div>
        `
    }

    const vueComponent = {
        template: `
            <h1>Vue Component</h1>
        `
    }

    const app = Vue.createApp({
        components: {
            // counter: counter,
            // 'vue-component': vueComponent
            counter,
            vueComponent
        },
        template: `
            <website />
            <describe />
            <counter />
            <vue-component />
        `
    })
    app.component('website', {
        template: `
            <h2>Vue Component</h2>
        `
    })
    app.component('describe', {
        template: `
            <div>Vue Component</div>
        `
    })

    const vm = app.mount("#app")
</script>

</html>