<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Component Parameter</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>

    const app = Vue.createApp({
        data() {
            return {
                name: "Son",
                age: 1,
                pay: () => {
                    alert("pay $500")
                }
            }
        },
        template: `
            <h2>Vue Component Parameter</h2>
            <son :name="name" :age="age" />
            <payment :pay="pay" />
        `
    })

    app.component('Son', {
        props: ['name', 'age'],
        template: `
            <div> {{typeof name}} {{typeof age}} </div>
        `
    })

    app.component('Payment', {
        props: ['pay'],
        methods: {
            handleClick() {
                alert("pay")
                this.pay()
            }
        },
        template: `
                <div @click="this.handleClick">Pay</div>
            `
    })

    const vm = app.mount("#app")
</script>

</html>