<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Component Parameter Verification</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>

    //String Boolean Array Object Functio Symbol
    const app = Vue.createApp({
        data() {
            return {
                name: "name 123",
                pay: () => {
                    alert("pay $500")
                }
            }
        },
        template: `
            <h2>Vue Component Parameter</h2>
            <son :name="name" />
        `
    })

    app.component('Son', {
        props: {
            name: {
                type: String,
                // required: true,
                default: "default name",
                validator: (value) => {
                    return value.search("name") != -1 //parameter includes keyword "name"
                }
            }
        },
        template: `
            <div> {{name}}</div>
        `
    })

    const vm = app.mount("#app")
</script>

</html>