<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Component Single Data Flow</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>

    const app = Vue.createApp({
        data() {
            return {
                counter: 0
            }
        },
        template: `
            <h2>Vue Component Parameter</h2>
            <counter :counter="counter" />
        `
    })

    app.component("Counter", {
        props: ['counter'],
        data() {
            return {
                newCounter: this.counter
            }
        },
        template: `
            {{newCounter}}
            <button @click="newCounter+=1">ADD</button>
        `
    })


    const vm = app.mount("#app")
</script>

</html>