<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Component Funtion</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>

    const app = Vue.createApp({
        data() {
            return {
                counter: 0
            }
        },
        methods: {
            counterAdd(num) {
                this.counter += num
            }
        },
        template: `
            <h2>Vue Component Parameter</h2>
            <counter :counter="counter" @add="counterAdd" />
        `
    })

    app.component("Counter", {
        props: ['counter'],
        emits: {
            add: (value) => {
                return value < 20 ? true : false;
            }
        },
        methods: {
            counterAdd() {
                this.$emit('add', this.counter + 3)
            }
        },
        template: `
            {{counter}}
            <button @click="counterAdd">ADD</button>
        `
    })


    const vm = app.mount("#app")
</script>

</html>