<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo13: Watch</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "message",
                price: 10,
                count: 2
            }
        },
        watch:{
            count(current, previous){
                console.log("count changed")
                console.log("current value", current)
                console.log("previous value", previous)
            }
        },
        computed:{ 
            total(){//excute when changing relate data value and first time of page rendering 
                return this.price * this.count
            }
        },
        methods: {
            handleItemClick(){
                this.message = this.message==="message"?"message 2":"message"
            },
            getTotal(){//excute when page rendering
                return this.price * this.count
            },
            addCount(){
                this.count++
            }
        },
        template:`
            <h2>
                {{message}}
            </h2>
            <h2>Total: {{ total }}</h2>
            <button @click="addCount">Add</button>
        `
    })
    app.mount("#app")
</script>
</html>