<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo4: List</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    Vue.createApp({
        data(){
            return{
                list: [],
                inputValue: ""
            }
        },
        methods: {
            handleAddItem(){
                this.list.push(this.inputValue)
                this.inputValue = ""
            }
        },
        template: `
            <div>
                <input v-model="inputValue" />
                <button v-on:click="handleAddItem">Add Item</button>
                <ul>
                    <li v-for="(item, index) of list">[{{index}}] {{item}}</li>
                </ul>
            </div>
        `
    }).mount("#app")
</script>

</html>