<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo16: v-show VS v-if</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                show: true
            }
        },
        // v-show => display:none
        // v-if => would not render
        
        // v-if => v-else => v-else-if
        template: `
            <h2 v-show="show">v-show</h2>
            <h2 v-if="show">v-if</h2>
        `
    })
    app.mount("#app")
</script>
</html>