<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo11</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "message 3"
            }
        },
        methods: {
            handleItemClick(){
                this.message = this.message==="message 1"?"message 2":"message 1"
            }
        },
        template:`
            <h2 
                @click="handleItemClick"
                v-if="message=='message 1'"
                class="one"
            >
                {{message}}
            </h2>
            <h2 
                @click="handleItemClick"
                v-if="message=='message 2'"
                class="two"
            >
                {{message}}
            </h2>
            <h2 
                @click="handleItemClick"
                v-if="message=='message 3'"
                class="three"
            >
                {{message}}
            </h2>
        `
    })
    app.mount("#app")
</script>
<style>
    .one{color:red;}
    .two{color:green;}
    .three{color:yellow;}
</style>
</html>