<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo20: Funtion Binding 2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                count: 0
            }
        },
        methods: {
            addCount(){
                this.count++
                // alert(0)
            },
            handleButtonClick1(){
                alert(1)
            },
        },
        // @click.stop
        // @click.self
        // prevent
        // capture
        // once
        // passive
        template: `
            <div @click.self="handleButtonClick1">
                DIV TEXT
                <div>Count: {{count}}</div>
                <button @click.once="addCount">Add</button>
            </div>
        `
    })
    app.mount("#app")
</script>
</html>