<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo18: v-for 2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                listArray:['Item-1','Item-2','Item-3'],
                listObject:{
                    Item1: '1',
                    Item2: '2',
                    Item3: '3'
                }
            }
        },
        methods: {
            handleAddItem(){
                this.listArray.push('Item-0')
            }
        },
        template: `
            <button @click="handleAddItem">Add</button>
            <ul>
                <template v-for="(item, index) in listArray">
                    <li 
                        :key="index+item"
                        v-if="item != 'Item-1'"
                    >
                        {{[index]}}{{item}}
                    </li>
                </template>
            </ul>
            <ul>
                <li 
                    v-for="(value, key, index) in listObject"
                    :key="key+value"
                >
                    {{[index]}}{{key}}: {{value}}
                </li>
            </ul>
            <span v-for="count in 99">{{count}} | </span>
        `
    })
    app.mount("#app")
</script>
</html>