<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo19: Funtion Binding 1</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                count: 0
            }
        },
        methods: {
            addCount(num, event){
                this.count+=num
                console.log(event.target)
            },
            handleButtonClick1(){
                alert(1)
            },
            handleButtonClick2(){
                alert(2)
            }
        },
        template: `
            <div>Count: {{count}}</div>
            <button @click="handleButtonClick1(),handleButtonClick2()">Add</button>
        `
    })
    app.mount("#app")
</script>
</html>