<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo23: Keyboard & Mouse</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                checked: true,
                name: 'Nothing',
                message: ''
            }
        },
        // v-model => lazy, number, trim
        template: `
            <div>
                <input type="checkbox" v-model="checked" />
                {{checked}}
            </div>
            <div>
                <input 
                    type="checkbox" 
                    v-model="name" 
                    true-value="checked"
                    false-value="unchecked"
                />
                {{name}}
            </div>
            <div>
                <input v-model.trim="message" />
                {{message}}
            </div>
        `
    })
    app.mount("#app")
</script>
</html>