<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo10</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "text",
                name: "title",
                event: "click"
            }
        },
        methods: {
            handleItemClick(){
                console.log("clicked")
            },
            handleButton(e){
                console.log("click button")
            }
        },
        // v-bind => :
        // v-on => @
        // dynamic template syntax => [state]
        template:`
            <h2 
                :[name]="message"
                @[event]="handleItemClick"
            >
                {{message}}
            </h2>

            <form action="https://www.google.com" @click.prevent="handleButton">
                <button type="submit">Submit</button>
            </form>
        `
    })
    app.mount("#app")
</script>

</html>