<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo3: Show/Hide</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                content: "",
                msg: "Hidden Message",
                isShowMsg: false
            }
        },
        methods: {
            onBtnClick(){
                this.content = "Switch On"
            },
            offBtnClick(){
                this.content = "Switch Off"
            },
            showOrHideMsg(){
                this.isShowMsg = !this.isShowMsg
            }
        },
        template: `
            <div>
                <div>{{content}}</div>
                <button v-on:click="onBtnClick">ON</button>&nbsp;
                <button v-on:click="offBtnClick">OFF</button>
                <div>
                    <div v-if="isShowMsg">{{msg}}</div>
                    <button v-on:click="showOrHideMsg">Show/Hide</button>
                </div>
            <div>
        `
    }).mount("#app")
</script>

</html>