<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo6: MVVM</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "message" // model
            }
        },
        template:"<h2>{{message}}</h2>" // view
    })
    const vm = app.mount("#app")
    console.log(vm) //mvvm m=>Model v=>View vm=>ViewModel
</script>

</html>