<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo22: Data Binding</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                name: '',
                checked: false,
                multiChecked: [],
                radio: ''
            }
        },
        methods: {
        },
        template: `
            <div>
                {{name}}
            </div>
            <div><input v-model="name" /></div>
            <div><textarea v-model="name" /></div>
            <div><input type="checkbox" v-model="checked" />{{checked}}</div>
            <div>
                {{multiChecked}}
                <br>
                Item-1 <input type="checkbox" v-model="multiChecked" value="item-1" />
                Item-2 <input type="checkbox" v-model="multiChecked" value="item-2" />
                Item-3 <input type="checkbox" v-model="multiChecked" value="item-3" />
            </div>
            <div>
                {{radio}}
                <br>
                Item-1 <input type="radio" v-model="radio" value="item-1" />
                Item-2 <input type="radio" v-model="radio" value="item-2" />
                Item-3 <input type="radio" v-model="radio" value="item-3" />
            </div>
        `
    })
    const vm = app.mount("#app")
</script>
</html>