<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo4: Component</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data(){
            return{
                list: [],
                inputValue: ""
            }
        },
        methods: {
            handleAddItem(){
                this.list.push(this.inputValue)
                this.inputValue = ""
            }
        },
        template: `
            <div>
                <custm-title />
                <input v-model="inputValue" />
                <button v-on:click="handleAddItem">Add Item</button>
                <ul>
                    <item-list 
                        v-for="(item, index) of list"
                        v-bind:item="item"
                        v-bind:index="index"
                    />
                </ul>
            </div>
        `
    })
    app.component("custm-title",{
        template:`
            <h1 style="text-align:center">
                Component
            </h1>
        `
    })
    app.component("item-list",{
        props:['index', 'item'],
        template:`
            <li>[{{index}}] {{item}}</li>
        `
    })
    
    app.mount("#app")
</script>

</html>