<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo9: Template Syntax</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "text",
                messageHtml: "<i>message</i>" ,
                count: 5
            }
        },
        methods: {
            handleItemClick(){
                this.message = this.message==="message"?"clicked message":"message"
            }
        },
        template:`
        <h2 v-bind:title="message">{{message}}</h2>
            <h2 
                v-html="messageHtml"
                v-once
            >
            </h2>
            <h2>{{count>2?"bigger":"smaller"}}</h2>
            <h2>{{1+2}}</h2>
            <h2>{{"messa"+"ge"}}</h2>
        `
    })
    app.mount("#app")
</script>

</html>