<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo17: v-for</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                listArray:['Item-1','Item-2','Item-3'],
                listObject:{
                    Item1: '1',
                    Item2: '2',
                    Item3: '3'
                }
            }
        },
        methods: {
            handleAddItem(){
                this.listArray.push('Item-0')
            }
        },
        template: `
            <button @click="handleAddItem">Add</button>
            <ul>
                <li 
                    v-for="(item, index) in listArray"
                    :key="index+item"
                >
                    {{[index]}}{{item}}
                </li>
            </ul>
            <ul>
                <li 
                    v-for="(value, key, index) in listObject"
                    :key="key+value"
                >
                    {{[index]}}{{key}}: {{value}}
                </li>
            </ul>
        `
    })
    app.mount("#app")
</script>
</html>