<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo7-8: Lift Cycle</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: "message" 
            }
        },
        methods: {
            handleItemClick(){
                this.message = this.message==="message"?"clicked message":"message"
            }
        },
        beforeCreate() {
            console.log("beforeCreate")
        },
        created() {
            console.log("created")
        },
        beforeMount() {
            console.log("beforeMount")
        },
        mounted() {
            console.log('mounted')
        },
        beforeUpdate(){
            console.log("beforeUpdate")
            console.log(document.getElementById("app").innerHTML)
        },
        updated() {
            console.log("updated")
            console.log(document.getElementById("app").innerHTML)
        },beforeUnmount() {
            console.log("beforeUnmount")
        },
        unmounted() {
            console.log("unmount")
        },
        template:`<h2 v-on:click="handleItemClick">{{message}}</h2>`
    })
    app.mount("#app")
</script>

</html>